{% extends 'base.html'%} {% block content %}
<h1>Fitness Flow</h1>

<h2>About</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis assumenda eum
  expedita autem magni sed, exercitationem porro, nihil accusantium quis fugit
  culpa distinctio dolor. Saepe voluptatibus exercitationem quidem sapiente
  nisi.
</p>

<h2>Mission Statement</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis assumenda eum
  expedita autem magni sed, exercitationem porro, nihil accusantium quis fugit
  culpa distinctio dolor. Saepe voluptatibus exercitationem quidem sapiente
  nisi.
</p>
<br />
<br />
<section id=""><h1>What Is Fitness Flow?</h1></section>

<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--strength"></div>
      <div class="card__content">
        <div class="card__title">Training Plans</div>
        <p class="card__text">
          We've got you covered, everything from beginner to advanced. We've
          worked with althletes of all abilities to achieve their goals.
        </p>
        <button class="btn btn--block card__btn">Learn More</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title">Accredited Coaches</div>
        <p class="card__text">
          We'll match you up with a qualified coach to guide you every step of
          the way. Nothing is left to chance, from nutrition to sleep we cover
          it all.
        </p>
        <button class="btn btn--block card__btn">Learn More</button>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--record"></div>
      <div class="card__content">
        <div class="card__title">Powerful Tools</div>
        <p class="card__text">
          Train smart and achieve your fitness goals with our powerful fitness
          app. The more you work with it, the more customised it becomes.
        </p>
        <button class="btn btn--block card__btn">Learn More</button>
      </div>
    </div>
  </li>
</ul>

<footer>
  <h3>All right reserverd &copy; 2023</h3>
</footer>
{% endblock %}
