:root {
  --background-color: #fafafa;
  --blue-color: #3897f0;
  --body-color: #999;
  --dark-color: #262626;
  --border-color: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 12px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: var(--body-color);
  font-size: 1.4rem;
  background-color: var(--background-color);
}

.main {
  max-width: 93rem;
  margin: 0 auto;
}

.grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.grid-item:first-child {
  /* margin-top: -10rem; */
  text-align: right;
  padding: 1rem;
}

.grid-item-wrapper {
  max-width: 35rem;
  width: 100%;
  margin: 0;
}

.main-box {
  padding: 3rem 3.5rem;
  background-color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid;
}

.main-box h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.btn {
  background-color: var(--blue-color);
  display: block;
  padding: 0.6rem;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  color: #fff;
}

.btn-2 {
  background-color: var(--background-color);
}

.btn i {
  font-size: 1.6rem;
  padding-right: 0.5rem;
}

.or-box {
  display: flex;
  padding: 2rem 0;
  align-items: center;
}

.bar {
  flex-basis: 40%;
  background-color: var(--border-color);
  height: 1px;
}

.or {
  flex-basis: 20%;
  padding: 0 1rem;
  font-weight: bold;
}

form {
  margin-bottom: 2rem;
}

form input {
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
}

form input:focus {
  outline: none;
  border: 1px solid rgba(38, 38, 38, 0.3);
}

form input::placeholder {
  color: rgba(38, 38, 38, 0.5);
}

form button {
  margin-top: 1rem;
}

.main-box p {
  padding: 0 3rem;
}

.main-box p a {
  color: var(--body-color);
}

.login-box {
  border: 1px solid var(--border-color);
  padding: 2.5rem;
  text-align: center;
  background-color: #fff;
  color: var(--dark-color);
  margin-bottom: 2rem;
}

.login-box a {
  color: var(--blue-color);
}

.app-icon ul li {
  display: inline-block;
  padding: 0 0 0 2.5rem;
}

.app-icon ul li img {
  width: 14rem;
}

.app-text {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  color: var(--dark-color);
}

footer .wrapper {
  max-width: 110rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 2rem 1rem;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

footer ul li a {
  font-size: 2rem;
  color: var(--body-color);
}

@media screen and (max-width: 74rem) {
  .grid {
    margin-top: 0rem;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .grid-item:first-child {
    display: none;
  }

  .main-box,
  .login-box {
    background-color: var(--background-color);
    border: none;
  }
}

footer .wrapper,
footer ul {
  justify-content: center;
}
